body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url(/images/doodle.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container {
    background-image: url(/images/burger.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  h1 {
    text-align: center;
    color: #333;
}
p{
    font-style: oblique;
    font-weight: 600;
}
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
  
    label {
        font-weight: bold;
        margin-bottom: 5px;
    }
  
  input, select, button {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
  }
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
  }
  button:hover {
    background-color: #0056b3;
  }

  footer{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    font-size:medium;
    font-family: "Century Gothic", serif;
    background-color: burlywood; /* Set the background color */
    color: black; /* Set the text color */
    padding: 10px 10% 10px 10%;
    margin-top: 20px;
    text-align: center;
  }
  footer ul{
    list-style: none;
    padding-bottom: 30px;
  }

  .i33 nav {
    width: auto;
    float: none;
  }

  .i33 nav ul {
    background-color: burlywood;
    height: auto;
}
  