#outerwrapper {
    background-color: rgb(255, 255, 255);
}

nav {
    background-color: bisque;
    font-family: 'Century Gothic', 'serif';
    color: rgb(35, 102, 12);
    text-align: center;
    float: none;
}

nav ul {
    margin: 0px;
}

nav ul li {
    display: inline-block;
}

.currentwebpage {
    font-weight: bolder;
    color: #00376b;
}

nav a {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    color: #00376b;
}

nav a:hover {
    text-shadow: 0px 0px 1px #0084ff;
}

header {
    background-color: bisque;
    color: #00376b;
    /* background-image: url("../images/fastfood.jpg"); */
    /* Source: https://www.womenfitness.net/wp/wp-content/uploads/2016/10/fast-food.jpg */
    background-size: cover;
    background-position: center;
    min-height: 210px;
    text-align: center;
    /* For background opacity*/
    position: relative;
}

header::before {
    background-image: url("../images/fastfood.jpg");
    /* Source: https://www.womenfitness.net/wp/wp-content/uploads/2016/10/fast-food.jpg */
    background-size: cover;
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.45;
    background-position: 50% 45%;
}

header h1 {
    font-size: 5.2em;
    margin-top: 0px;
    text-shadow: 4px 2px 2px rgba(2, 0, 53, 1),
        5px 6px 15px rgba(26, 13, 14, 1),
        -2px -3px 6px rgba(50, 96, 125, 1);
    /* For background opacity*/
    isolation: isolate;
}

header h1 a {
    text-decoration: none;
    color: #0084ff;
}

header h1 a:hover {
    color: #00a2ff;
    text-shadow: 1px 2px 2px rgba(4, 0, 128, 1),
        12px 9px 15px rgba(26, 13, 14, 1),
        -3px -6px 12px rgba(60, 125, 121, 1);
}

header p {
    font-family: 'Century Gothic', 'serif';
    font-size: 2em;
    letter-spacing: 0.5em;
    margin-bottom: 0px;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 1),
        0px 0px 10px rgba(255, 255, 255, 1),
        0px 0px 15px rgba(255, 255, 255, 1),
        0px 0px 20px rgba(24, 240, 255, 1),
        0px 0px 30px rgba(24, 240, 255, 1),
        0px 0px 40px rgba(24, 240, 255, 1),
        0px 0px 55px rgba(24, 240, 255, 1),
        0px 0px 75px rgba(24, 240, 255, 1);
    /* For background opacity*/
    isolation: isolate;
}

header p a {
    text-decoration: none;
    color: #00376b;
}

header p a:hover {
    color: #0059ff;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 1),
        0px 0px 10px rgba(255, 255, 255, 1),
        0px 0px 15px rgba(255, 255, 255, 1),
        0px 0px 20px rgba(24, 240, 255, 1),
        0px 0px 30px rgba(24, 240, 255, 1),
        0px 0px 40px rgba(24, 240, 255, 1),
        0px 0px 55px rgba(24, 240, 255, 1),
        0px 0px 75px rgba(24, 240, 255, 1);
}

main {
    background-color: rgb(255, 255, 255);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(189, 222, 242);
    background: linear-gradient(90deg, rgba(189, 222, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);
    border-radius: 20px 20px 20px 20px;
    padding: 10px 10px 10px 25px;
}

#headingmain {
    margin-top: 50px;
}

.mainimg {
    height: 200px;
    float: right;
    margin: 0px 50px 0px 20px;
}

.maindescription {
    padding: 20px 20px 20px 50px;
}

#headingcolmiddle {
    clear: both;
    margin-top: 170px;
}

#multicolmiddle {
    background-color: rgb(255, 222, 156);
    overflow: auto;
}

.columnmiddle {
    background-color: rgb(255, 222, 156);
    width: 26%;
    float: left;
    padding: 20px;
    margin: 20px 30px 20px 30px;
}

.columnmiddle img {
    height: 150px;
}

.menuitemtitle {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

#headingcolbottom {
    clear: both;
    margin-top: 150px;
}

#multicolbottom {
    background-color: beige;
    overflow: auto;
}

.columnbottom {
    background-color: beige;
    width: 47%;
    float: left;
    margin: 20px 0px 20px 0px;
    padding: 10px 10px 10px 30px;
}

.columnbottom img {
    height: 150px;
}

.columnbottom a {
    text-decoration: none;
    color: #0084ff;
}

.columnbottom a:hover {
    color: #00376b;
    text-shadow: 0px 0px 1px #0084ff;
}

footer {
    clear: both;
    background-color: burlywood;
    font-size: smaller;
    font-family: "Century Gothic", serif;
    color: black;
    padding: 30px 10% 10px 10%;
    margin-top: 20px;
    text-align: center;
}

footer ul {
    list-style: none;
    padding-bottom: 30px;
}

footer nav ul {
    background-color: burlywood;
}

footer nav ul li {
    display: block;
}

footer nav a {
    color: black;
    display: block;
    padding: 0;
    text-align: center;
}

.footercolumn {
    float: left;
    /* display: inline-block; */
    width: 20%;
    padding: 20px;
}

.footercolumn ul {
    padding: 0px 0px 30px 0px;
}

#copyright {
    clear: both;
    text-align: center;
}